<launch>
<!-- Launch file for Livox MID 70 LiDAR -->
	<param name="stable_max_x" type="double" value="5.0" />
	<param name="stable_min_x" type="double" value="0.5" />
	<param name="stable_max_y" type="double" value="1.0" />
	<param name="stable_min_y" type="double" value="-0.5" />
	<param name="stable_max_z" type="double" value="3.0" />
	<param name="stable_min_z" type="double" value="0.2" />
	<param name="moving_max_x" type="double" value="5.0" />
	<param name="moving_min_x" type="double" value="0.5" />
	<param name="moving_max_y" type="double" value="-1.0" />
	<param name="moving_min_y" type="double" value="-2.0" />
	<param name="moving_max_z" type="double" value="3.0" />
	<param name="moving_min_z" type="double" value="0.2" />
	<param name="diff_radius" type="double" value="0.05" />
	<param name="min_radius" type="double" value="0.2" />
	<param name="max_radius" type="double" value="1.5" />
    	<node pkg="fast_lio" type="map_generate" name="map_generate" output="screen" /> 
    	<arg name="rviz" default="true" />
    	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/3d_bbox.rviz" />
	</group>
</launch>
